/* body { */
	/* color: purple; */
    /* font-size: 3rem; */
    /* /* font-family: Arial, Helvetica, sans-serif;  */
    /* background-color: violet; */
     /* background: linear-gradient(to top left, blue 50%, transparent 50%), */
    /* linear-gradient(to top right, green 50%, transparent 50%), green; */
/* } */
.main-left {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
   
    /* height: 480px;
    width: 853px; */
    /* top: 20%; */
    /* left: 0%; */ */
    /* width: 100%; */
    /* right: 50%;
    bottom: 0;
    /* background-color: salmon; */
    /* animation: zoominoutsinglefeatured 15s forwards; */
    /* transform: rotate(-40deg); */
  
}
.main-right {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    position: fixed;
    font-weight: bold;
    top: 0;
    left: 11%;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top left, blue 50%, transparent 50%),
    linear-gradient(to top right, green 50%, transparent 50%), green
    /* background-color: #0F285C; */
   
    color: yellow;
    /* font-weight: bold; */
    /* text-decoration: underline; */
    /* animation: mymove 5s alternate; */
    /* -moz-transform: rotate(7.5deg);  
    -o-transform: rotate(7.5deg);  
    -webkit-transform: rotate(7.5deg);  
    -ms-transform: rotate(7.5deg);   */
    /* transform: rotate(-10deg);   */
    /* transform-origin: 0 100%; */
    /* transform: rotate(45deg); */
    /* transform: skew(20deg); */
    /* background-image: -webkit-linear-gradient(50deg, #A683E3 50%, #E4E9FD 50%); */
}
.bottom {
    position: fixed;
    width: 100%;
    top: 90%;
    bottom: 0%;
    background-color: slategray;
    text-align: center;
    font-size: 200%;
}
img {
    border-radius: 8px;
    border: 1px solid #ddd;
    height: 100%;
  
    width: 100%;
  }

.main-menu{
    /* font-size: 10rem; */
    text-align: center;
    font-weight: bold;
    font-size: 6rem;
}

#menu {
    /* font-family: Arial, Helvetica, sans-serif;s */
    border-collapse: collapse;
    width: 100%;
   
    /* font-size: 10rem; */
  }
/*   
  #menu td, #menu th {
    border: 1px solid #ddd;
    padding: 8px;
  } */
  
  #menu tr:nth-child(even){
      /* background-color: #f2f2f2; */
      color: red;
}
  
  /* #menu tr:hover {background-color: #ddd;} */
  
  #menu td {
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Spartan', sans-serif;


    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5%;
    text-align: left;
    /* background-color: #4CAF50; */
    color:yellow ;
  }
  /* div {
    width: 100px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    position: fixed;
    animation: mymove 5s infinite;
  } */
  

  @keyframes mymove {
    from {right: 100px;}
    to {left: 1500px;}
  }
  
  @keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(.1,.1);
    }
    50% {
        transform: scale(1,1);
    }
    100% {
        transform: scale(1,1);
    }
    
}

.sale {
    position: fixed;
    display: inline-block;
    background: red;
    bottom: 30%;
    right: 25%;
    color: white;
    height: 40rem;
    width: 40rem;
    font-size: 15rem;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 40rem;
    margin: 45vh 45vw;
    transform: rotate(-40deg);
    -webkit-animation: beat 1s ease infinite alternate;
            animation: beat 1s ease infinite alternate;
  }
  .sale:before, .sale:after {
    content: "";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(30deg);
  }
  .sale:after {
    transform: rotate(60deg);
  }
  
  @-webkit-keyframes beat {
    from {
      transform: rotate(-20deg) scale(1);
    }
    to {
      transform: rotate(-20deg) scale(1.1);
    }
  }
  
  @keyframes beat {
    from {
      transform: rotate(-20deg) scale(1);
    }
    to {
      transform: rotate(-20deg) scale(1.1);
    }
  }

  .coffee{
      border: violet;
      position: fixed;
      top: 45%;
      left: 70%;
      width: 300px;
      height: 300px;
      animation: mymove 5s infinite
    
  }